@lightgreen: #00BDB6;
@lightblue: #00D0F8;
@darkblue: #00A9D4;
@orange: #FF6C4C;
@darkgreen: #6DC72A;
@pink: #FF4165;
@yellow: #fec22e;
@darkgray: #b4b4b4;
@lightgray: #F1F1F1;

@font-face {
    font-family: "FontAwesome";
    src: url('font/fontawesome-webfont.eot');
    src: url('font/fontawesome-webfont.eot?#iefix') format('eot'), url('font/fontawesome-webfont.woff') format('woff'), url('font/fontawesome-webfont.ttf') format('truetype'), url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.custom-control-panel {
    & #wpbody {
        background: @lightgray;
        font-family: 'Roboto', sans-serif;

        & h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }
    }

    & #wpcontent { padding: 0; }

    /* HEADER */
    & .ccp-header-container {
        height: 120px;
        background: @lightgreen;
        border-bottom: 2px solid @yellow;
        box-shadow: 0 2px 6px @darkgray;
        padding: 5px 10px;
    }

    & .ccp-img-brand {
        float: left;
        height: 95px;
        padding: 10px;
    }

    & .ccp-header-info {
        float: left;
        margin-top: 30px;
        color: #FFF;
        margin-left: 20px;
        line-height: 0px;

        & .sectiontitle {
            font-weight: 300;
            color: #FFF;

            & .word1 { font-weight: 500; }
        }
    }

    & .ccp-header-extra {
        float: right;
        padding: 10px;
        color: #FFF;
        text-align: right;

        & a {
            color: #FFF;
            text-decoration: none;
        }

        & .ccp-header-button {
            background: @orange;
            border: 0;
            padding: 10px 15px;
            color: #FFF;
            font-size: 15px;
            border-radius: 5px;
            box-shadow: 1px 1px 6px #848484;
            font-weight: 300;
            cursor: pointer;
        }
    }

    /* CONTENT */
    & .ccp-content-container {
        font-size: 15px;
        font-weight: 400;
        padding: 10px 20px;

        & .ccp-section-title {
            background: #00a7e1;
            padding: 8px 10px;
            color: #FFF;
            width: 96%;
            margin: 15px 0;

            & h2 {
                margin: 0;
                color: #FFF;
            }
        }

        & .ccp-clearfix {
            clear: both;
            display: block;
        }

        & .ccp-function-container {
            margin: 10px 0;
            clear: both;
            display: block;
            width: 100%;

            & a:hover {
                & .ccp-function-item {
                    background: @yellow;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;

                    & h3 {
                        color: #FFF;
                        font-weight: 600;
                    }
                }
            }
        }

        /* MENU ITEMS */
        & .ccp-function-item {
            float: left;
            width: 23.5%;
            background: white;
            margin-right: 15px;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            & img {
                float: left;
                width: 65px;
                padding: 10px;
                margin-right: 10px;
            }

            & h3 {
                float: left;
                font-size: 14px;
                font-weight: 300;
                padding-top: 10px;
            }
        }

        /* COLORS */
        & .ccp-function-item-1 img { background: @lightblue; }

        & .ccp-function-item-2 img { background: @pink; }

        & .ccp-function-item-3 img { background: @darkgreen; }

        & .ccp-function-item-4 img { background: @orange; }

        & .ccp-function-item-5 img { background: @lightgreen; }

        & .ccp-function-item-6 img { background: @lightblue; }

        & .ccp-info-container {
            float: left;
            width: 70%;
            padding-right: 20px;
            border-right: 1px solid @lightgreen;

            & p {
                font-size: 17px;
                font-weight: 300;
            }

            & ol {
                margin-left: 50px;
                line-height: 25px;
                margin-bottom: 20px;
            }

            & ul {
                list-style: initial;
                padding-left: 20px;
                line-height: 20px;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            & img {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

            & .btn-zone-add {
                float: right;
                clear: both;
                margin-bottom: 10px;
                padding: 10px 15px;
                border-radius: 5px;
                border: 0;
                background: #ff6c4c;
                color: #FFF;
                font-weight: 300;
                font-size: 15px;
                box-shadow: 2px 2px 6px #c1c1c1;
            }
        }

        & .ccp-extra-info-container {
            float: left;
            width: 25%;
            padding-left: 35px;
            padding-top: 20px;

            & .extra-menu-title {
                margin: 0;
                margin-bottom: 20px;
                font-weight: 300;

                & .word1 { font-weight: 500; }
            }

            & ol {
                list-style-type: decimal;
                margin-left: 2em;
                font-size: 16px;
                line-height: 25px;
            }

            & .ccp-function-item {
                float: left;
                width: 100%;
                margin-bottom: 20px;
            }
        }

        & .ccp-data-field {
            display: inline-block;
            width: 98.5%;
            background: white;
            margin-bottom: 20px;
            box-shadow: 0px 2px 6px #d3d3d3;
            border-radius: 3px;

            & h5 {
                margin: 0;
                background: #00a7e1;
                padding: 10px 15px;
                color: #FFF;
                font-size: 18px;
                font-weight: 300;
                border-bottom: 2px solid #fec22e;
            }

            & .ccp-data-item {
                padding: 5px 10px;

                & p {
                    margin: 5px 0;
                    font-size: 16px;
                    font-weight: 500;
                }

                & textarea {
                    width: 100%;
                    min-height: 120px;
                }

                & input {
                    width: 60%;
                    display: inline-block;
                    padding: 5px;
                }

                & span {
                    width: 15%;
                    display: inline-block;
                    margin: 10px;
                    font-weight: 500;
                }
            }
        }

        & .btn-save {
            background: #ff6c4c;
            border: 0;
            padding: 10px 15px;
            margin-top: 15px;
            margin-bottom: 25px;
            color: #FFF;
            font-size: 15px;
            border-radius: 5px;
            box-shadow: 1px 1px 6px #848484;
            font-weight: 300;
            cursor: pointer;
        }
    }

    & #map {
        width: 97.5%;
        height: 500px;
    }

    & .ccp-img-responsive {
        width: 100%;
        height: auto;
    }

    & .btn-save-changes {
        background: #ff6c4c;
        border: 0;
        padding: 10px 15px;
        color: #FFF;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px #848484;
        font-weight: 300;
        cursor: pointer;
    }

    & .ccp-item-close {
        font-weight: 300;
        font-size: 20px;
        font-style: normal;
        color: #fec22e;
        margin-right: 20px;
    }

    & .ccp-loading {
        display: block;
        -webkit-animation: spin .8s ease-in-out infinite;
        -moz-animation: spin .8s ease-in-out infinite;
        animation: spin .8s ease-in-out infinite;
        background: url(../img/loader.svg) center center;
        background-size: cover;
        text-align: center;
        width: 30px;
        height: 30px;
        color: rgba(0, 0, 0, 0.75);
        margin: 10px 0;
    }

    /* TABS */
    .ccp-tabs-blocks {
        border: 0 !important;
        background: none;

        & .ui-state-active {
            background: #00a7e1;
            border-color: #00a7e1;
            font-weight: 600;
        }

        & .ui-tabs-nav {
            background: none;
            border: 0;
            border-bottom: 1px solid #00a7e1;
            border-radius: 0;
            padding-left: 0 !important;
        }

        & .ui-tabs-panel { padding: 0; }
    }

    /* EXTRA */
    .ui-sortable {
        display: inline-block;
        width: 500px;
        margin: 0px;
        background-color: #ccc;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        list-style: none !important;
        padding: 0 !important;
    }

    .ui-sortable li.ui-state-default {
        margin: 0;
        height: 45px;
        line-height: 48px;
        font-size: 1.4em;
        color: #fff;
        outline: 0;
        padding: 0;
        margin: 0;
        text-indent: 15px;
        background: rgb(78,82,91);
        background: -moz-linear-gradient(top, rgb(78,82,91) 0%, rgb(57,61,68) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(78,82,91)), color-stop(100%,rgb(57,61,68)));
        background: -webkit-linear-gradient(top, rgb(78,82,91) 0%,rgb(57,61,68) 100%);
        background: -o-linear-gradient(top, rgb(78,82,91) 0%,rgb(57,61,68) 100%);
        background: -ms-linear-gradient(top, rgb(78,82,91) 0%,rgb(57,61,68) 100%);
        background: linear-gradient(to bottom, rgb(78,82,91) 0%,rgb(57,61,68) 100%);
        border-top: 1px solid rgba(255,255,255,.2);
        border-bottom: 1px solid rgba(0,0,0,.5);
        text-shadow: -1px -1px 0px rgba(0,0,0,.5);
        font-size: 1.1em;
        position: relative;
        cursor: pointer;

        & span {
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            margin-left: 5px;
        }
    }

    .ui-sortable li.ui-state-default:first-child { border-top: 0; }

    .ui-sortable li.ui-state-default:last-child { border-bottom: 0; }

    .ui-sortable-placeholder {
        border: 3px dashed #aaa;
        height: 45px;
        width: 344px;
        background: #ccc;
    }

    .ui-sortable li.ui-state-default:after {
        content: "\f0c9";
        display: inline-block;
        font-family: "FontAwesome";
        position: absolute;
        right: 18px;
        top: 9px;
        text-align: center;
        line-height: 35px;
        color: rgba(255,255,255,.2);
        text-shadow: 0px 0px 0px rgba(0,0,0,0);
        cursor: move;
    }
}

.ccp-autoupload-button-container {
    float: left;
    width: 45%;
    margin-top: 20px;

    & button {
        background: #ff6c4c;
        border: 0;
        padding: 10px 15px;
        color: #FFF;
        font-size: 15px;
        border-radius: 5px;
        box-shadow: 1px 1px 6px #848484;
        font-weight: 300;
        cursor: pointer;
    }
}

.ccp-autoupload-message-container {
    text-align: right;
    float: right;
    width: 45%;
}

.ccp-autoupload-content {
    border-top: 1px solid #bcbcbc;
    text-align: center;
    padding: 10px;
}

.ccp-autoupload-item {
    display: inline-block;
    width: 18%;
    text-align: center;
    margin: 8px;
    background: #00bdb6;
    padding: 15px;
    font-weight: 600;
    box-shadow: 0px 0px 6px black;

    & h3 { color: #fec22e; }

    & p { font-size: 15px; }
}
